@import "../../style/vars.css";

.aboutItem {
    display: flex;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
    .title {
        font-size: 25px;
        font-weight: 600;
    }
    .description {
        font-size: 20px;
    }
}

.aboutItem:hover {
    background-size: 100% 100%;
}

ul {

    list-style-position: inside;
    list-style-type:square ;

    margin-left: 17px;
}

@media screen and (max-width: 840px) {
    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}